section.section.section-test
  .wrapper
    
    +b.test
      +e.item
        +img-bg('slider-bg', 'slider')
      +e.item
        +img-bg('hero-bg', 'hero')
      +e.item
        +img-bg('sity', 'sity')
      +e.item
        +img-cj('new-york', 'new-york')