.test
  +row-flex()
  +md-block()
    padding: 0 100px

  &__item
    +col()
    +size(3)
    +size-md(6)
    +size-xs(12)
    +flex-center()

    background-color: #eee
    padding: 40px 0
    font-size: rem(16)
    margin-bottom: $fields