/***********************MEDIA QUERIES***********************/
// $media-xlg: 1500px
// $media-lg: 1239px
// $media-md: 960px
// $media-sm: 767px
// $media-xs: 480px
// $media-xxs: 320px

/***********************COLORS & FONTS***********************/
$baseFontSize : 16px
$main-font: "Lato", Helvetica, sans-serif

$main-color: #9B23EA
